html {
    overflow-x: hidden;
}

body {
    background-color: #0C0D0C;
    width: 100%;
    color: #FEFCEE;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////     Scrollbar     ///////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #FEFCEE;
    outline: 1px solid #0c0d0c;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*///////////////////////////////      ENTETE      ////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

header {
    position: fixed;
    width: 100%;
    background-color: #0c0d0c;
    z-index: 3;
    height: 120px;
    top: 0;
}

header ul {
    position: absolute;
    top: 40px;
    right: 80px;
}

header li {
    display: inline-block;
    padding-left: 60px;
}

header ul a {
    text-decoration: none;
    color: #FEFCEE;
    font-family: "roboto", serif;
    font-size: 16px;
    position: relative;
}

footer {
    background-color: #0c0d0c;
}

footer .reseaux {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer .reseaux a {
    padding: 10px;
    font-family: "bely-display",sans-serif;
}


footer p.footer {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 28px;
    color: #FEFCEE;
    display: block;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}

.survol:after {
    content: '';
    transform: scaleX(0);
    transform-origin: bottom center;
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #FEFCEE;
    transition: transform .4s;
}

.survol:hover::after {
    transform: scaleX(1);
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////      surlignage du texte      /////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

*::-moz-selection {
    background-color: #fefcee;
    color: #0C0D0C;
}

*::selection {
    background-color: #FEFCEE;
    color: #0c0d0c;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////     Différents titres et textes     //////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

h1 {
    position: absolute;
    font-family: "bely-display", sans-serif;
    color: #FEFCEE;
    font-size: 40px;
    top: 40px;
    left: 80px;
    margin: 0;
    font-weight: normal;
}

h1.main {
    position: absolute;
    font-family: "bely-display", sans-serif;
    color: #FEFCEE;
    font-size: 60px;
    top: 30px;
    left: 80px;
    margin: 0;
    font-weight: normal;
}

h2 {
    font-family: "bely-display", serif;
    margin-top: 300px;
    color: #0C0D0C;
    text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
    font-size: 141px;
    text-align: center;
    font-weight: normal;
}

.metier {
    display: block;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 100px;
}


p.profil {
    font-family: "Roboto", serif;
    font-size: 17px;
    line-height: 25px;
    color: #FEFCEE;
    display: block;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}



/*/////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////     Galerie des projets     //////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery .column {
    width: calc(50% - 20px);
}

.gallery .column:first-child {
    margin-right: 20px;
}

.gallery .column:last-child {
    margin-left: 20px;
}

.gallery .column:last-child .padding {
    padding-top: 100px;
}

.gallery .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery .row .grid-item {
    width: calc(50% - 20px);
}

.gallery .row .grid-item:first-child {
    margin-right: 20px;
}

.gallery .row .grid-item:last-child {
    margin-left: 20px;
}

.column img {
    margin-bottom: 40px;
}



#réalisations {
    padding-right: 50px;
    padding-left: 50px;
}


/* ANIMATION HOVER */

.a-img-txt {
    display: grid;
}

/* les enfants se superposent */
.a-img-txt > * {
    grid-area: 1/1/-1/-1;
}

/* le texte */
.a-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "bely-display", sans-serif;
    font-size: 100px;
    color: #FEFCEE;
    opacity: 0;
    transition: opacity .8s;
}

/* les couleurs de survol*/
.c1 {
    background: #0c0d0ccc;
}

/* le survol */
.a-txt:hover {
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #FEFCEE;
}

h6 {
    display: none;
}


/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*///////////////////////////////      REFRESH     ////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/


h3 {
    font-family: "bely-display", sans-serif;
    color: #FEFCEE;
    margin-top: 200px;
    font-size: 100px;
    text-align: center;
}

h4 {
    font-family: "bely-display", sans-serif;
    color: #0C0D0C;
    text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
    font-size: 60px;
    text-align: center;
    margin-top: -100px;
}

p.mockupTitre {
    margin-top: 50px;
    font-family: "bely-display", sans-serif;
    font-size: 30px;
    color: #FEFCEE;
    text-align: center;
}

div.texte {
    display: block;
    width: 69%;
    margin: auto;
}

p.TexteProjet {
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 28px;
    color: #FEFCEE;
    display: block;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}

div.galleryRefresh {
    margin-top: 80px;
}

video.videoRefresh {
    display: block;
    width: 280px;
    margin: 10px auto 35px auto;
    border-radius: 30px;
}

img.refresh {
    width: 500px;
    display: block;
    margin: 10px auto 35px auto;
}

p.autresProjets {
    font-family: "bely-display", sans-serif;
    color: #0C0D0C;
    text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
    font-size: 100px;
}

.projets {
    display: block;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#autres\ projets {
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 50px;
}

a.scroll_to_top {
    text-decoration: none;
    font-family: "bely-display", sans-serif;
    font-size: 30px;
    color: #FEFCEE;
    text-align: center;
}



/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*///////////////////////////////      A PROPOS    ////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/



#presentation {
    padding-right: 150px;
    padding-left: 150px;
}

.gallerys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 200px;
}

.gallerys .column:first-child {
    width: calc(33%);
}

.gallerys .column:last-child {
    width: calc(67%);
}

img.imgMoi {
    width: 400px;
    height: auto;
}

div.textemoi {
    display: block;
    width: 80%;
    margin: auto;
}

p.moi {
    font-family: "roboto", sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: #FEFCEE;
    display: block;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding-bottom: 20px;
}

sup {
    vertical-align: super;
    font-size: small;
    top: 0;
}

button {
    cursor: pointer;
    font-size: 20px;
    display: block;
    padding: 10px 20px 10px 20px;
    margin: 15px auto 40px auto;
    width: auto;
    min-width: 90px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #FEFCEE;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #FEFCEE;
    background-color: #0c0d0c;
    border-radius: 10px;
}

button:hover {
    color: #0C0D0C;
    background-color: #FEFCEE;
    transition: .3s ease-in-out;
}

a.mail {
    font-family: "bely-display",sans-serif;
    font-size: 25px;
    text-decoration: underline;
    color: #FEFCEE;
}


/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*///////////////////////////////      FAQ MMI     ////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

#projets {
    padding: 0 100px;
}

div.galleryProjet {
    margin-top: 80px;
}

p.Titre {
    margin-top: 120px;
    font-family: "bely-display", sans-serif;
    font-size: 50px;
    color: #FEFCEE;
    text-align: center;
}

img.GdImgProjet {
    display: block;
    margin: auto;
    width: 1000px;
    height: auto;
}

img.imgProjet {
    width: 1000px;
    height: auto;
}

img.faqMMIPortable {
    display: block;
    margin: 100px auto auto auto;
    height: 600px;
}

div.galleryProjetPortable {
    margin-top: 80px;
}

.galleryPortable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.galleryPortable .column {
    width: calc(33% - 20px);
}

.galleryPortable .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.galleryPortable .row .grid-item {
    width: calc(50% - 20px);
}


.column img {
    margin: 40px auto;
    display: block;
}

img.imgProjetPortable {
    width: 280px;
    height: auto;
}




/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*///////////////////////////////    RESPONSIVE    ////////////////////////////////////*/
/*///////////////////////////////                  ////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/









/* RESPONSIVE PORTABLE*/


@media all and (max-width: 480px) {


    /*////////////////////////////////*/
    /*//////  TOUTES LES PAGES  //////*/
    /*////////////////////////////////*/                                                /* RESPONSIVE PORTABLE*/


    header {
        height: 80px;
    }


    footer .reseaux {
        font-family: "bely display", sans-serif;
        font-size: 20px;
        margin-top: 0;
        text-align: center;
        display: inline-block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    footer .reseaux a {
        padding: 10px;
    }


    footer p.footer {
        font-family: "Roboto", serif;
        font-size: 10px;
        line-height: 28px;
        color: #FEFCEE;
        display: block;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    /*////////////////////////////////////////////*/
    /*////         liens vers aticles         ////*/
    /*////////////////////////////////////////////*/


    .menu.open li {
        text-align: center;
        opacity: 1;
    }

    h1 {
        display: block;
        font-size: 30px;
        padding: 0;
        left: 0;
        right: 0;                                                                              /* RESPONSIVE PORTABLE*/
        margin: auto;
        text-align: center;
    }

    h3 {
        font-family: "bely-display", sans-serif;
        color: #FEFCEE;
        font-size: 50px;
        text-align: center;                                                                   /* RESPONSIVE PORTABLE*/
        margin: 120px 0 20px 0;
    }

    h4 {
        font-family: "bely-display", sans-serif;
        color: #0C0D0C;
        text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
        font-size: 40px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;                                                                  /* RESPONSIVE PORTABLE*/
    }

    #autres\ projets {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 50px;
    }                                                                                          /* RESPONSIVE PORTABLE*/

    p.autresProjets {
        font-family: "bely-display", sans-serif;
        color: #0C0D0C;
        text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
        font-size: 45px;
    }

    a.scroll_to_top {
        text-decoration: none;                                                              /* RESPONSIVE PORTABLE*/
        font-family: "bely-display", sans-serif;
        font-size: 20px;
        color: #FEFCEE;
        text-align: center;
    }



    div.texte {
        margin-top: 60px;
    }

    ul {
        display: none;
    }                                                                               /* RESPONSIVE PORTABLE*/

    .column img {
        margin: 40px auto 10px auto;
        display: block;
    }

    h6 {
        display: block;
        color: #FEFCEE;
        margin: 0;
        font-family: "roboto", sans-serif;
        font-size: 17px;
    }

    /*////////////////////////////////*/
    /*///////  PAGE D'ACCUEIL  ///////*/
    /*////////////////////////////////*/


    h2 {
        font-size: 50px;
        margin: 150px 0 0 0;
    }

    p.profil {                                                                          /* RESPONSIVE PORTABLE*/
        font-size: 13px;
    }

    .column, .row {
        width: 100% !important;
        display: block !important;
    }

    .gallery .column:last-child .padding {
        padding-top: 0;
    }

    .column .grid-item, .row .grid-item {                                                   /* RESPONSIVE PORTABLE*/
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .gallery .column {
        width: calc(100% - 40px);
        margin: 0 auto !important;
    }

    /* ANIMATION HOVER */
    .a-img-txt {
        display: grid;                                                                  /* RESPONSIVE PORTABLE*/
    }


    /* les enfants se superposent */
    .a-img-txt > * {
        grid-area: 1/1/-1/-1;
    }

    /* le texte */
    .a-txt {
        display: none;                                                                      /* RESPONSIVE PORTABLE*/
    }

    #réalisations {
        padding-left: 20px;
        padding-right: 20px;
    }



    /*////////////////////////////////*/
    /*///////////  REFRESH  //////////*/                                                /* RESPONSIVE PORTABLE*/
    /*////////////////////////////////*/



    p.mockupTitre {
        margin-top: 30px;
        font-family: "bely-display", sans-serif;
        font-size: 20px;                                                                /* RESPONSIVE PORTABLE*/
        color: #FEFCEE;
        text-align: center;
    }



    p.TexteProjet {                                                                         /* RESPONSIVE PORTABLE*/
        font-family: "Roboto", serif;
        font-size: 14px;
        line-height: 20px;
        color: #FEFCEE;
        display: block;
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;                                                            /* RESPONSIVE PORTABLE*/
        justify-content: center;
        padding: 0;
    }

    video.videoRefresh {
        display: block;
        width: 280px;
        margin: 10px auto 35px auto;                                                /* RESPONSIVE PORTABLE*/
        border-radius: 30px;
    }

    img.refresh {
        width: 350px;
        display: block;
        margin: 10px auto 35px auto;                                                /* RESPONSIVE PORTABLE*/
    }

    /*////////////////////////////////*/
    /*//////////  A PROPOS  //////////*/
    /*////////////////////////////////*/

    #presentation {
        padding: 0 20px;
        position: relative;
        top: -100px;
    }

    .column, .row {
        width: 100% !important;
        display: block !important;
    }

    .column .grid-item, .row .grid-item {                                                   /* RESPONSIVE PORTABLE*/
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .gallerys .column {
        width: calc(100% - 40px);
        margin: 0 auto !important;                                  /* RESPONSIVE PORTABLE*/
    }

    img.imgMoi {
        display: block;
        margin: auto;
    }

    div.textemoi {
        margin-top: 50px;
        width: 90%;
    }
                                                                    /* RESPONSIVE PORTABLE*/
    p.moi {
        font-family: "Roboto", serif;
        font-size: 16px;
        line-height: 25px;
        color: #FEFCEE;
        display: block;
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
    }

    button {
        cursor: pointer;
        font-size: 20px;
        display: block;
        padding: 7px 13px 7px 13px;
        margin: 30px auto 0 auto;
        width: auto;
        min-width: 90px;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #FEFCEE;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: #FEFCEE;
        background-color: #0c0d0c;
        border-radius: 10px;                                       /* RESPONSIVE PORTABLE*/
    }

    a.mail {
        font-family: "bely-display",sans-serif;
        font-size: 20px;
        line-height: 30px;
        text-decoration: underline;
        color: #FEFCEE;
    }


    /*////////////////////////////////*/
    /*//////////   FAQ MMI   /////////*/
    /*////////////////////////////////*/


    #projets {
        padding: 0 20px;
    }

    img.faqMMIPortable {
        height: 550px;
        width: auto;
    }

    .galleryPortable>.column {
        margin: 0 auto;
    }

    div.galleryProjet {
        margin-top: 50px;
    }

    p.Titre {
        margin-top: 80px;
        font-family: "bely-display", sans-serif;
        font-size: 30px;
        color: #FEFCEE;
        text-align: center;
    }

    img.GdImgProjet {
        display: block;
        margin: 50px auto auto auto;
        width: 1000px;
        height: auto;
    }

    img.imgProjet {
        width: 1000px;
        height: auto;
        margin: 40px auto 0 auto;
    }

    img.imgProjetPortable {
        display: block;
        margin: 50px auto 0 auto;
    }
}









/* RESPONSIVE TABLETTE */


@media (min-width: 481px) and (max-width: 780px) {



    /*////////////////////////////////*/
    /*//////  TOUTES LES PAGES  //////*/
    /*////////////////////////////////*/


    header {                                                                                  /* RESPONSIVE TABLETTE */
        height: 100px;
    }

    h1 {
        display: block;                                                                      /* RESPONSIVE TABLETTE */
        font-size: 35px;
        padding: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    h3 {
        font-family: "bely-display", sans-serif;
        color: #FEFCEE;
        font-size: 50px;                                                                /* RESPONSIVE TABLETTE */
        text-align: center;
        margin: 150px 0 10px 0;
    }

    h4 {
        font-family: "bely-display", sans-serif;
        color: #0C0D0C;
        text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
        font-size: 40px;
        text-align: center;
        margin-top: 0;                                                                        /* RESPONSIVE TABLETTE */
        margin-bottom: 30px;
    }

    #autres\ projets {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 50px;                                                                  /* RESPONSIVE TABLETTE */
    }

    p.autresProjets {
        font-family: "bely-display", sans-serif;
        color: #0C0D0C;
        font-size: 45px;
    }

    a.scroll_to_top {
        text-decoration: none;
        font-family: "bely-display", sans-serif;
        font-size: 25px;
        color: #FEFCEE;
        text-align: center;
    }

    div.texte {
        margin-top: 60px;
        width: 80%;                                                                      /* RESPONSIVE TABLETTE */
    }

    .column img {
        margin: 40px auto 10px auto;
        display: block;
    }

    h6 {
        display: block;
        color: #FEFCEE;
        margin: 0;
        font-family: "roboto", sans-serif;
        font-size: 20px;
    }

    ul {
        display: none;
    }                                                                                       /* RESPONSIVE TABLETTE */


    /*////////////////////////////////*/
    /*///////  PAGE D'ACCUEIL  ///////*/
    /*////////////////////////////////*/


    h2 {
        font-size: 60px;
        margin: 150px 0 0 0;
    }

    .column, .row {
        width: 100% !important;
        display: block !important;
    }                                                                                       /* RESPONSIVE TABLETTE */

    .column .grid-item, .row .grid-item {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .gallery .column {
        width: calc(100% - 40px);
        margin: 0 auto !important;                                                          /* RESPONSIVE TABLETTE */
    }

    .gallery .column:last-child .padding {
        padding-top: 0;
    }

    /* ANIMATION HOVER */
    .a-img-txt {
        display: grid;
    }

    /* les enfants se superposent */
    .a-img-txt > * {                                                                         /* RESPONSIVE TABLETTE */
        grid-area: 1/1/-1/-1;
    }

    /* le texte */
    .a-txt {
        display: none;
    }

    #réalisations {
        padding-left: 30px;                                                                /* RESPONSIVE TABLETTE */
        padding-right: 30px;
    }




    /*////////////////////////////////*/
    /*///////////  REFRESH  //////////*/
    /*////////////////////////////////*/




    p.mockupTitre {
        margin-top: 30px;
        font-family: "bely-display", sans-serif;
        font-size: 30px;
        color: #FEFCEE;
        text-align: center;
    }                                                                               /* RESPONSIVE TABLETTE */

    p.TexteProjet {
        font-family: "Roboto", serif;
        font-size: 16px;
        line-height: 20px;
        color: #FEFCEE;
        display: block;
        text-align: left;
        display: -webkit-box;                                                       /* RESPONSIVE TABLETTE */
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;                                                            /* RESPONSIVE TABLETTE */
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 50px;
        padding-left: 50px;
    }

    video.videoRefresh {
        display: block;
        width: 280px;
        margin: 10px auto 35px auto;
        border-radius: 30px;                                                        /* RESPONSIVE TABLETTE */
    }

    img.refresh {
        width: 350px;
        display: block;
        margin: 10px auto 35px auto;
    }                                                   /* RESPONSIVE TABLETTE */


    /*////////////////////////////////*/
    /*//////////  A PROPOS  //////////*/
    /*////////////////////////////////*/

    #presentation {
        padding: 0 40px;
        position: relative;
        top: -100px;
    }

    .column, .row {
        width: 100% !important;
        display: block !important;                              /* RESPONSIVE TABLETTE */
    }

    .column .grid-item, .row .grid-item {                                                   /* RESPONSIVE PORTABLE*/
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .gallerys .column {
        width: calc(100% - 40px);
        margin: 0 auto !important;                     /* RESPONSIVE TABLETTE */
    }

    img.imgMoi {
        display: block;
        margin: auto;
    }

    div.textemoi {
        margin-top: 50px;                               /* RESPONSIVE TABLETTE */
    }

    p.moi {
        font-family: "Roboto", serif;
        font-size: 18px;
        line-height: 28px;
        color: #FEFCEE;
        display: block;
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;                         /* RESPONSIVE TABLETTE */
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
    }

    button {
        cursor: pointer;
        font-size: 23px;
        display: block;
        padding: 7px 13px 7px 13px;
        margin: 30px auto 0 auto;
        width: auto;
        min-width: 90px;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #FEFCEE;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: #FEFCEE;
        background-color: #0c0d0c;
        border-radius: 10px;                                       /* RESPONSIVE PORTABLE*/
    }

    a.mail {
        font-family: "bely-display",sans-serif;
        font-size: 22px;
        line-height: 30px;
        text-decoration: underline;
        color: #FEFCEE;
    }


    /*////////////////////////////////*/
    /*//////////   FAQ MMI   /////////*/
    /*////////////////////////////////*/


    #projets {
        padding: 0 50px;
    }

    .galleryPortable>.column {
        margin: 0 auto;
    }

    div.galleryProjet {
        margin-top: 50px;
    }

    p.Titre {
        margin-top: 120px;
        font-family: "bely-display", sans-serif;
        font-size: 40px;
        color: #FEFCEE;
        text-align: center;
    }

    img.GdImgProjet {
        display: block;
        margin: auto;
        width: 1000px;
        height: auto;
    }

    img.imgProjet {
        width: 1000px;
        height: auto;
        margin: 40px auto 0 auto;
    }

    img.imgProjetPortable {
        display: block;
        margin: 50px auto 0 auto;
    }
}





/* RESPONSIVE GRANDE TABLETTE */


@media (min-width: 781px) and (max-width: 1099px) {


    /*////////////////////////////////*/
    /*//////  TOUTES LES PAGES  //////*/
    /*////////////////////////////////*/


    header {                                                                           /* RESPONSIVE GRANDE TABLETTE */
        height: 100px;
    }

    header a.survol {
        font-size: 15px;
    }

    h1 {
        display: block;                                                             /* RESPONSIVE GRANDE TABLETTE */
        font-size: 45px;
        padding: 0;
        left: 50px;
        right: 0;
        margin: auto;
    }

    h3 {
        font-family: "bely-display", sans-serif;
        color: #FEFCEE;
        font-size: 60px;                                                          /* RESPONSIVE GRANDE TABLETTE */
        text-align: center;
        margin: 150px 0 10px 0;
    }

    h4 {
        font-family: "bely-display", sans-serif;
        color: #0C0D0C;
        text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
        font-size: 50px;
        text-align: center;
        margin-top: 0;                                                                /* RESPONSIVE GRANDE TABLETTE */
        margin-bottom: 30px;
    }

    #autres\ projets {
        padding-right: 110px;
        padding-left: 110px;
        margin-bottom: 50px;                                                      /* RESPONSIVE GRANDE TABLETTE */
    }

    p.autresProjets {
        font-family: "bely-display", sans-serif;
        color: #0C0D0C;
        text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
        font-size: 55px;
    }

    a.scroll_to_top {
        text-decoration: none;
        font-family: "bely-display", sans-serif;
        font-size: 25px;
        color: #FEFCEE;
        text-align: center;
    }

    div.texte {
        margin-top: 60px;
        width: 80%;
    }

    header ul {
        position: absolute;                                                           /* RESPONSIVE GRANDE TABLETTE */
        top: 35px;
        right: 50px;
    }

    .column img {
        margin: 40px auto 10px auto;
        display: block;
    }

    h6 {
        display: block;
        color: #FEFCEE;
        margin: 0;
        font-family: "roboto", sans-serif;
        font-size: 22px;
    }



    /*////////////////////////////////*/
    /*///////  PAGE D'ACCUEIL  ///////*/
    /*////////////////////////////////*/



    h2 {
        font-size: 80px;
        padding: 0;                                                                /* RESPONSIVE GRANDE TABLETTE */
        text-align: center;
        margin-top: 250px;
    }

    .column, .row {
        width: 100% !important;
        display: block !important;                                                  /* RESPONSIVE GRANDE TABLETTE */
    }

    .column .grid-item, .row .grid-item {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .gallery .column {
        width: calc(100% - 40px);                                               /* RESPONSIVE GRANDE TABLETTE */
        margin: 0 auto !important;
    }

    .gallery .column:last-child .padding {
        padding-top: 0;
    }

    /* ANIMATION HOVER */                                                       /* RESPONSIVE GRANDE TABLETTE */
    .a-img-txt {
        display: grid;
    }

    /* les enfants se superposent */
    .a-img-txt > * {
        grid-area: 1/1/-1/-1;                                                   /* RESPONSIVE GRANDE TABLETTE */
    }

    /* le texte */
    .a-txt {
        display: none;
    }

    #réalisations {
        padding-left: 110px;
        padding-right: 110px;
    }



    /*////////////////////////////////*/
    /*///////////  REFRESH  //////////*/                                        /* RESPONSIVE GRANDE TABLETTE */
    /*////////////////////////////////*/



    p.mockupTitre {
        margin-top: 30px;
        font-family: "bely-display", sans-serif;
        font-size: 30px;
        color: #FEFCEE;
        text-align: center;
    }



    p.TexteProjet {
        font-family: "Roboto", serif;                                               /* RESPONSIVE GRANDE TABLETTE */
        font-size: 17px;
        line-height: 20px;
        color: #FEFCEE;
        display: block;
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;                                                 /* RESPONSIVE GRANDE TABLETTE */
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 50px;                                                    /* RESPONSIVE GRANDE TABLETTE */
        padding-left: 50px;
    }

    video.videoRefresh {
        display: block;
        width: 280px;
        margin: 10px auto 35px auto;
        border-radius: 30px;
    }                                                                       /* RESPONSIVE GRANDE TABLETTE */

    img.refresh {
        width: 350px;
        display: block;
        margin: 10px auto 35px auto;
    }                                                                       /* RESPONSIVE GRANDE TABLETTE */


    /*////////////////////////////////*/
    /*//////////  A PROPOS  //////////*/
    /*////////////////////////////////*/

    #presentation {
        padding: 0 40px;
        position: relative;
        top: -100px;
    }

    .column, .row {
        width: 100% !important;
        display: block !important;                              /* RESPONSIVE GRANDE TABLETTE */
    }

    .column .grid-item, .row .grid-item {                                                   /* RESPONSIVE PORTABLE*/
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .gallerys .column {
        width: calc(100% - 40px);
        margin: 0 auto !important;                     /* RESPONSIVE GRANDE TABLETTE */
    }

    img.imgMoi {
        display: block;
        margin: auto;
    }

    div.textemoi {
        margin-top: 50px;                               /* RESPONSIVE GRANDE TABLETTE */
    }

    p.moi {
        font-family: "Roboto", serif;
        font-size: 20px;
        line-height: 30px;
        color: #FEFCEE;
        display: block;
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;                         /* RESPONSIVE GRANDE TABLETTE */
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;                                                            /* RESPONSIVE PORTABLE*/
        justify-content: center;
        padding: 0;
    }

    button {
        cursor: pointer;
        font-size: 25px;
        display: block;
        padding: 7px 13px 7px 13px;
        margin: 40px auto auto auto;
        width: auto;
        min-width: 90px;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #FEFCEE;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: #FEFCEE;
        background-color: #0c0d0c;
        border-radius: 10px;
    }

    a.mail {
        font-family: "bely-display",sans-serif;
        font-size: 22px;
        text-decoration: underline;
        color: #FEFCEE;
    }

    /*////////////////////////////////*/
    /*//////////   FAQ MMI   /////////*/
    /*////////////////////////////////*/


    #projets {
        padding: 0 50px;
    }

    .galleryPortable>.column {
        margin: 0 auto;
    }

    div.galleryProjet {
        margin-top: 50px;
    }

    p.Titre {
        margin-top: 120px;
        font-family: "bely-display", sans-serif;
        font-size: 40px;
        color: #FEFCEE;
        text-align: center;
    }

    img.GdImgProjet {
        display: block;
        margin: auto;
        width: 1000px;
        height: auto;
    }

    img.imgProjet {
        width: 1000px;
        height: auto;
        margin: 40px auto 0 auto;
    }

    img.imgProjetPortable {
        display: block;
        margin: 50px auto 0 auto;
    }
}







/*RESPONSIVE PETIT ECRAN ORDI*/


@media (min-width: 1100px) and (max-width: 1500px) {

    /*////////////////////////////////*/
    /*//////  TOUTES LES PAGES  //////*/
    /*////////////////////////////////*/

    h3 {
        font-family: "bely-display", sans-serif;
        color: #FEFCEE;
        margin: 200px 0 0 0;
        font-size: 100px;
        text-align: center;
    }

    h4 {
        font-family: "bely-display", sans-serif;
        color: #0C0D0C;
        text-shadow: #FEFCEE -1px -1px, #FEFCEE 1px -1px, #FEFCEE 1px 1px, #FEFCEE -1px 1px;
        font-size: 60px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    div.texte {
        margin-top: 50px;
        width: 80%;
    }





    /*////////////////////////////////*/
    /*///////  PAGE D'ACCUEIL  ///////*/
    /*////////////////////////////////*/


    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .gallery .column {
        width: calc(50% - 20px);
    }

    .gallery .column:first-child {
        margin-right: 20px;
    }

    .gallery .column:last-child {
        margin-left: 20px;
    }

    .gallery .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .gallery .row .grid-item {
        width: calc(50% - 20px);
    }

    .gallery .row .grid-item:first-child {
        margin-right: 20px;
    }

    .gallery .row .grid-item:last-child {
        margin-left: 20px;
    }

    .column img {
        margin-bottom: 40px;
    }

    #réalisations {
        padding-right: 50px;
        padding-left: 50px;
    }


    /* ANIMATION HOVER */
    .a-img-txt {
        display: grid;
    }

    /* les enfants se superposent */
    .a-img-txt > * {
        grid-area: 1/1/-1/-1;
    }

    /* le texte */
    .a-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "bely-display", sans-serif;
        font-size: 80px;
        color: #FEFCEE;
        opacity: 0;
        transition: opacity .8s;
    }

    /* les couleurs de survol*/
    .c1 {
        background: #131815cc;
    }

    /* le survol */
    .a-txt:hover {
        opacity: 1;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
    }




    /*////////////////////////////////*/
    /*///////////  REFRESH  //////////*/
    /*////////////////////////////////*/






    p.mockupTitre {
        margin-top: 30px;
        font-family: "bely-display", sans-serif;
        font-size: 30px;
        color: #FEFCEE;
        text-align: center;
    }

    p.TexteProjet {
        font-family: "Roboto", serif;
        font-size: 16px;
        line-height: 20px;
        color: #FEFCEE;
        display: block;
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 50px;
        padding-left: 50px;
    }

    video.videoRefresh {
        display: block;
        width: 280px;
        margin: 10px auto 35px auto;
        border-radius: 30px;
    }

    img.refresh {
        display: block;
        margin: 10px auto 35px auto;
    }
}



@media all and (max-width: 780px) {




    /*////////////////////////////////////////////*/
    /*////     menu hamburger trait/croix     ////*/
    /*////////////////////////////////////////////*/


    .nav-toggle {
        position: absolute;
        top: 32px;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .nav-toggle-bar, .nav-toggle-bar:before, .nav-toggle-bar:after {
        content: '';
        background: #FEFCEE;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        Z-index: 3;
        transition: all .4s ease-in-out;
    }


    .nav-toggle-bar::before {
        top: -10px;
    }


    .nav-toggle-bar::after {
        top: 10px;
    }


    .nav-toggle.active .nav-toggle-bar {
        transform: rotate(135deg);
        background: #FEFCEE;
    }


    .nav-toggle.active .nav-toggle-bar:before, .nav-toggle.active .nav-toggle-bar:after {
        top: 0;
        transform: rotate(90deg);
        background: #FEFCEE;
    }


    .nav-toggle.active .nav-toggle-bar:after {
        opacity: 0;
    }

    /*////////////////////////////////////////////*/
    /*////         menu de navigation         ////*/
    /*////////////////////////////////////////////*/

    header nav {
        pointer-events: none;
        visibility: hidden;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 20px;
        width: 100%;
        background-color: #0c0d0c;
        transform: translate(100%, 0%);
        transition: all .4s revert;
    }

    header nav.open {
        pointer-events: auto;
        visibility: visible;
        transform: translateY(0);
        z-index: 2;
        list-style: none;
        text-align: center;
    }

    header nav ul {
        display: block;
        flex-direction: column;
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        height: 100%;
        top: 35%;
        right: 0;
    }

    header nav.open li {
        display: block;
        margin: auto;
        position: relative;
        padding: 20px;
        top: 12px;
    }

    header nav a {
        text-decoration: none;
        color: #FEFCEE;
        font-family: "bely-display",sans-serif;
        font-size: 25px;
        margin: 20px 20px;
    }
}


